@import "tailwindcss";

@theme {
  --color-brand-blue: #003366;
  --color-brand-purple: #66CC99;
  --color-brand-green: #66CC99;
  --color-brand-dark: #1A1A1A;
  --color-brand-light: #F8FAFC;
}

@layer base {
  body {
    @apply antialiased text-brand-dark bg-white;
  }
}

.glass {
  @apply bg-white/80 backdrop-blur-md border border-white/20;
}